@charset "UTF-8";

/*
	カスタマイズ用クラス

	自由にCSSを設定してください。
	
	※このCSSで定義したクラスは、CMS管理画面でのページ編集においても利用できます。
	※編集後はブラウザリロードしてください。
*/


._inner-text{text-align:center;}

body{letter-spacing:0.05em;}

#SocialArea{
margin: 1em auto;padding: 1em;width:620px;
}




=======
text-align:center;  
}

>>>>>>> 167166c83f7bd776c9e302ff045de7a9b660c6e6
